body {
  background-color: #012634
}

h1 {
  text-align: center;
  color: grey
}

p {
text-align: center;
color: grey
}





.text {
 font-weight: bold;
font-size: 50px;
}


.bilde {
  width: 900px;
  border-radius: 70px;
  border-color: grey;
  margin: auto;
  display: block;
  border-style: solid;
  border-width: 4px;
  margin-top: 40px;
}
